$sideChatWidth: 300px;
/* # Global
================================================== */
body,
html {
    height: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #32323e;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.2em;
    background: #000;
}

label,
legend {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #6441a5;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease-in-out;

    &:focus,
    &:hover {
        color: #6441a5;
        border-color: rgba(100, 65, 165, 0.25);
    }
}

.image-wrapper img {
    width: 100%;
    display: block;
}

.error {
    color: #ff0033;
}

* {
    box-sizing: border-box;
}

/* # General layout
================================================== */
.main-wrapper {
    position: relative;
    text-align: center;
}

.streams {
    height: 100vh;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s opacity;
    .menu-open & {
        opacity: 0.25;
        iframe {
            pointer-events: none;
        }
    }
}

.no-streams-message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 26px;
    margin-left: 0.5em;
}
/* # Chat
================================================== */

.chat-panels {
    position: relative;
}

.twitch-chat {
    position: relative;
    height: 100%;
}

.twitch-chat [role=tablist] {
    border-bottom: 1px solid #d1d1d1;
    margin: 0;
    padding: 0;
    text-align: left;
    background: #d1d1d1;
}

.twitch-chat [role=tab] {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;

    a:active,
    a:focus,
    a:hover {
        border-color: transparent;
    }

    .tab-inner {
        display: block;
        padding: 6px 20px 6px 12px;
    }

    .close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 0;

        &:after {
            font-size: 14px;
            content: 'x';
            margin-left: 5px;
            padding: 5px;
        }
    }
}

.twitch-chat [role=tab][aria-selected=true] {
    background: #d1d1d1;
    border-color: #d1d1d1;
    font-weight: 600;
}

.twitch-chat [role=tab].active {
    outline: none;
}

.twitch-chat [role=tabpanel] {
    position: absolute;
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    display: none;

    &.active {
        display: block;
    }
}
/* # Twitch Blocks
================================================== */
.twitch-block {
    float: left;
}

.embed-container,
.twitch-block-inner {
    height: 100%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
    width: 100%;
    height: 100%;
    border: 0;
}

.twitch-block.stream {
    background: #000;

    .embed-container,
    .embed-container > div {
        position: relative;
        height: 100%;
    }

    .embed-container {
        transition: opacity 0.3s;

        &.not-focused {
            opacity: 0.8;
        }
    }
}

.chat-hidden .twitch-block.stream .embed-container.not-focused {
    opacity: 1;
}

.twitch-block.chat {
    .stream-chat {
        padding: 0;
        height: 100%;
    }

    embed,
    iframe,
    object {
        height: 100%;
    }
}
/* # Block Layouts
================================================== */
.twitch-block {
    overflow: hidden;
    width: 20%;
    height: 20%;
}
/* # Chat Layouts
================================================== */
.chat-focus,
.chat-side {
    box-sizing: border-box;
    padding-right: $sideChatWidth;

    .twitch-block.chat {
        position: absolute;
        top: 0;
        left: 100%;
        height: 100vh;
        width: $sideChatWidth !important;
        height: 100% !important;

        .twitch-block-inner {
            padding: 0;
            height: 100%;
        }
    }

    &.chat-focus {
        .streams .stream {
            width: 100% !important;
            height: 100% !important;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent;

            .embed-container.not-focused {
                opacity: 0;
            }
        }
    }
}

.chat-hidden {
    .twitch-block.chat {
        display: none;
    }
}
/* # Search
================================================== */
.twitch-search {
    position: relative;
}

.twitch-search .input-text {
    color: #666;
    padding: 0.4em;
    width: 100%;
    margin: 0;
}

.twitch-search .menu {
    display: block;
    line-height: 1.5em;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    position: absolute;
    margin-top: 0.25em;

    &.menu-open {
        visibility: visible;
        z-index: 2;
        background: #fff;
        border: 1px solid #d1d1d1;
    }

    &.menu-hidden {
        visibility: hidden;
    }
}

.twitch-search .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.twitch-search .menu li {
    margin: 0;
    transition: background-color 0.2s ease-in-out;

    a {
        display: block;
        padding: 0.5em;
        transition: color 0.2s ease-in-out;
        cursor: pointer;

        &:active,
        &:focus,
        &:hover,
        &:visited {
            border-color: transparent;
        }
    }

    &.focus {
        background-color: #6441a5;

        a {
            color: #fff;
        }
    }
}
/* # Controls
================================================== */
$menuOpenWidth: 300px;
$menuToggleWidth: 30px;
$menuBg: #dfd7ef;

.multi-stream {
    margin-left: $menuToggleWidth;
}

.controls {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: $menuBg;
    height: 100vh;
    width: $menuOpenWidth;
    border-right: 1px solid #d1d1d1;
    transition: transform 0.3s;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
}

.menu-closed {
    .controls {
        transform: translateX(-100%);
    }
}

.controls {
    input,
    select {
        color: #666;
        padding: 0.4em;
        width: 100%;
        margin: 0;
        font-weight: 300;
    }
}

.controls .control-section {
    margin: 0 1em;
}

.controls .section-headline {
    font-weight: 200;
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.controls .site-headline {
    font-weight: 200;
    font-size: 30px;
    color: #6441a5;
    margin-top: 0;
}

.controls .hint {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.controls .secondary-toggle {
    cursor: pointer;
    padding: 0 0.35em;
    margin: 0.2em 0;
    display: inline-block;
    border: 0;
}

.controls .stream-controls {
    height: 100%;
    box-sizing: border-box;
    padding-top: 35px;
    overflow-y: auto;
}

.controls .stream-item {
    position: relative;

    .stream-name {
        font-weight: 200;
        font-size: 26px;
        margin-bottom: 0.5em;
    }

    .close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        font-size: 0;
        cursor: pointer;
        border: 0;

        &:after {
            content: 'x';
            font-size: 22px;
        }
    }
}

.controls .chat-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $menuBg;

    .control-section {
        margin-bottom: 0.5em;
    }
}

.controls .control-toggle {
    position: absolute;
    top: 0;
    left: 100%;
    color: #d1d1d1;
    background: #6441a5;
    height: 100%;
    width: $menuToggleWidth;
    cursor: pointer;
}

.controls .control-text {
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 400;
    white-space: nowrap;
    transform-origin: center;
}
.controls .control-text:after {
    content: '';
    text-align: center;
    transition: 0.3s transform;
    font-size: 1.333em;
    display: inline-block;
    margin-left: 0.25em;
    .menu-open & {
        transform: rotate(45deg);
    }
}

.control-text-text,
.control-text:after {
    display: inline-block;
    vertical-align: middle;
}

// search panel styling logic

.inner-controls-wrap {
    white-space: nowrap;
    overflow: hidden;
}

.controls .main-controls,
.controls .search-controls {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    transition: 0.2s transform;
    height: 100vh;
}

.controls.search-enabled .main-controls,
.controls.search-enabled .search-controls {
    transform: translateX(-100%);
}

.controls .search-controls .game-search,
.controls .search-controls .stream-search {
    display: none;
    height: 100%;
    width: 100%;
}

.controls.game-search .search-controls .game-search,
.controls.stream-search .search-controls .stream-search {
    display: block;
}
// search controls

.controls .search-controls {
    position: relative;
    padding-top: 6px;

    .channel-search {
        height: 100%;
    }
}

.controls .search-controls .secondary-toggle {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: 0;

    &:before {
        content: '<';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 28px;
        padding: 0.25em;
        color: #6441a5;
    }
}

.controls .search-controls .twitch-search {
    margin: 50px 0.5em 1em;
}

.controls .search-controls .channel-list {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
// search controls channel results

.channel-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.channel-list li {
    margin: 0;
    transition: background-color 0.2s ease-in-out;

    a {
        display: block;
        padding: 0.5em;
        transition: color 0.2s ease-in-out;
        cursor: pointer;
        border: 0;
        transition: background-color 0.2s, color 0.2s;

        .name {
            margin-bottom: 0;
        }
    }
}
/* # Streams
================================================== */
.stream-embed {
    padding-bottom: 56.25%;
}
